body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-cabecalho {
  position: fixed;   /* Fixa o elemento na tela */
  top: 0;            /* Alinha-o ao topo */
  left: 0;           /* Alinha-o à esquerda */
  width: 100%;       /* Faz com que ele ocupe toda a largura */
  z-index: 1000;     /* Garante que fique acima de outros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#root {
  padding-top: 125px; 
}